
@import "@angular/cdk/overlay-prebuilt.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/**************************** NEW COLORS & FONTS -> BEACH PLEASE ****************************/

:root {
color-scheme: light;

--font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

--background: 0deg 0% 100%;
--foreground: 0deg 0% 5%;
--card: 0deg 0% 98%;
--card-foreground: 0deg 0% 8%;
--primary: 95deg 90% 58%;       
--primary-foreground: 0deg 0% 100%;
--secondary: 283deg 75% 25%;   
--secondary-foreground: 0deg 0% 100%;
--muted: 282deg 40% 85%;        
--muted-foreground: 282deg 70% 25%;
--accent: 95deg 90% 58%;       
--accent-foreground: 0deg 0% 100%;
--destructive: 348deg 85% 58%;  
--border: 282deg 30% 75%;
--input: 95deg 90% 58%;
--ring: 95deg 90% 58%;
--radius: 0.625rem;
--sidebar: 282deg 30% 95%;
--sidebar-foreground: 0deg 0% 8%;
--sidebar-accent: 95deg 90% 58%;
--sidebar-accent-foreground: 0deg 0% 100%;
--sidebar-border: 0deg 0.09% 85%;
--sidebar-ring: 282deg 30% 60%;
--selection-color: 95deg 90% 58%;
}

:root.dark {
color-scheme: dark;

--background: 283deg 75% 8%;
--foreground: 0deg 0% 100%;
--card: 283deg 75% 15%;
--card-foreground: 0deg 0% 100%;
--primary: 95deg 90% 58%;
--primary-foreground: 0deg 0% 100%;
--secondary: 283deg 75% 35%;
--secondary-foreground: 0deg 0% 100%;
--muted: 283deg 30% 30%;
--muted-foreground: 283deg 30% 80%;
--accent: 95deg 90% 58%;
--accent-foreground: 0deg 0% 100%;
--destructive: 348deg 85% 70%;
--border: 283deg 75% 20%;
--input: 283deg 75% 25%;
--ring: 95deg 90% 58%;
--sidebar: 283deg 75% 15%;
--sidebar-foreground: 0deg 0% 100%;
--sidebar-accent: 283deg 75% 35%;
--sidebar-accent-foreground: 0deg 0% 100%;
--sidebar-border: 0 0% 100% / 0.1;
--sidebar-ring: 283deg 75% 40%;
--selection-color: 95deg 90% 58%;
}

/**************************** ORIGINAL COLORS & FONTS ****************************/

/* :root {
color-scheme: light;

--font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

--background: 0deg 0% 100%;
--foreground: 0deg 0.02% 3.94%;
--card: 0deg 0% 100%;
--card-foreground: 0deg 0.02% 3.94%;
--popover: 0deg 0% 100%;
--popover-foreground: 0deg 0.02% 3.94%;
--primary: 0deg 0.02% 9.06%;
--primary-foreground: 0deg 0.5% 98.03%;
--secondary: 0deg 0.24% 96.06%;
--secondary-foreground: 0deg 0.02% 9.06%;
--muted: 0deg 0.24% 96.06%;
--muted-foreground: 0deg 0.01% 45.16%;
--accent: 0deg 0.24% 96.06%;
--accent-foreground: 0deg 0.02% 9.06%;
--destructive: 351.72deg 100% 40.53%;
--border: 0deg 0.09% 89.82%;
--input: 0deg 0.09% 89.82%;
--ring: 0deg 0.02% 63.02%;
--radius: 0.625rem;
--sidebar: 0 0% 98%;
--sidebar-foreground: 0 0% 4%;
--sidebar-accent: 0 0% 96%;
--sidebar-accent-foreground: 0 0% 9%;
--sidebar-border: 0 0% 90%;
--sidebar-ring: 0 0% 63%;
}

:root.dark {
color-scheme: dark;

--background: 0deg 0.02% 3.94%;
--foreground: 0deg 0.5% 98.03%;
--card: 0deg 0.02% 9.06%;
--card-foreground: 0deg 0.5% 98.03%;
--popover: 0deg 0.02% 9.06%;
--popover-foreground: 0deg 0.5% 98.03%;
--primary: 0deg 0.09% 89.82%;
--primary-foreground: 0deg 0.02% 9.06%;
--secondary: 0deg 0.01% 14.94%;
--secondary-foreground: 0deg 0.5% 98.03%;
--muted: 0deg 0.01% 14.94%;
--muted-foreground: 0deg 0.02% 63.02%;
--accent: 0deg 0% 14.9%;
--accent-foreground: 0deg 0.5% 98.03%;
--destructive: 358.76deg 100% 69.84%;
--border: 0deg 0% 13.73%;
--input: 0deg 0% 18.43%;
--ring: 0deg 0.01% 45.16%;
--sidebar: 0 0% 9%;
--sidebar-foreground: 0 0% 98%;
--sidebar-accent: 0 0% 15%;
--sidebar-accent-foreground: 0 0% 98%;
--sidebar-border: 0 0% 100% / 0.1;
--sidebar-ring: 0 0% 32%;
} */

@layer base {
* {
@apply border-border outline-ring/50;
}
body {
@apply bg-background text-foreground;
}
}

::selection {
    background-color: hsl(var(--selection-color));
    color: hsl(var(--background));
}